<h1> Point of Sale </h1>

<button><a href="/products">View products</a></button>
<br>
<button><a href="/product/new">Add a new product</a></button>
<br>
<button><a href="/purchases">See Sales by Date Range</a></button>
<br>
<button><a href="/purchases/new">I'm a cashier</a></button>

<a href="/">Back Home</a>
