<h1>Sale</h1>
<% if @products.any? %>
<form action="/receipt" method="post">
  <% @products.each do |product| %>
    <input type="checkbox" name="product_ids[]" value="<%= product.id %>"> <%= product.name %> </br>
  <% end %>
  <button type="submit" name="submit">Checkout</button>
</form>
<% end %>
<a href="/pos">Back to Point of Sale</a>
